data/*
!data/als_corrected_dried/
!data/als_corrected_fresh/
data/als_corrected_fresh/*.csv
data/als_corrected_dried/*.csv
!data/test_dried.csv
!data/test_fresh.csv
!data/.gitkeep
!data/*/.gitkeep
/.idea/.gitignore
/.idea/Mini_Group_Project.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/dsmp.egg-info/dependency_links.txt
/dsmp.egg-info/PKG-INFO
/dsmp.egg-info/SOURCES.txt
/dsmp.egg-info/top_level.txt
__pycache__/
.ipynb_checkpoints/
**/*.ipynb_out/
/data/reference_spectra/
/data/leaf_samples/
/.idea/dsmp-2024-groupo2.iml
/Baseline_uvr_plots/
.ruff_cache
.mypy_cache

